{% extends "layout_panel_1.html.twig" %}
{% block title %}Articles{% endblock %}

{% block dashboard_left %}

    <div class="card">
        <div class="list-group list-group-flush">
            <span class="list-group-item bg-light">Filtres</span>
            <a href="{{ path('articles') }}" class="list-group-item list-group-item-action {{ filter == 'all'? 'active': '' }}">Tout les articles</a>
            <a href="{{ path('articles', {'articles': 'my'}) }}" class="list-group-item list-group-item-action {{ filter == 'my'? 'active': '' }}">Mes articles</a>
        </div>
    </div>

{% endblock %}

{% block content %}

    {% for article in articles %}
        <div class="m-1">
            <h3>{{ article.title }}</h3>
            <hr>
            <p>{{ article.content }}</p>
            <small class="text-muted">{{ article.date }}</small>
        </div>
    {% else %}
        <div class="m-1">
            <h3 class="display-4">Pas encore d'article</h3>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eu mauris mi. Nunc tempor condimentum purus, in mollis ex porta et. Nam molestie elit interdum eleifend luctus.</p>
            <a class="btn btn-primary" href="#">Créer le premier article</a>
        </div>
    {% endfor %}

{% endblock %}