{% extends "layout.html.twig" %}
{% block title %}
    {% if article is defined %}
        Mofication de {{ article.title }}
    {% else %}
        Creation d'article
    {% endif %}
{% endblock %}

{% block content %}
<div class="todoapp-margin"></div>
<div class="container">
    <h2>Modification de l'article</h2>

    {{ form_start(articleForm) }}

    <div class="form-group">
        {{ form_label(articleForm.title) }}
        {{ form_widget(articleForm.title) }}
    </div>

    <div class="form-group">
        {{ form_label(articleForm.content) }}
        {{ form_widget(articleForm.content) }}
    </div>

    <div class="form-group">
        <button class="btn btn-primary">{{ article is defined ? 'Modifier': 'Ajouter' }}</button>
    </div>
    {{ form_end(articleForm) }}
    {% for message in app.session.flashBag.get('fail_article') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}

    {% for message in app.session.flashBag.get('success_article') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
</div>
{% endblock %}