
{% extends "layout_panel_1.html.twig" %}
{% block title %}Inscription{% endblock %}


{% block dashboard_left %}{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-body">
        {{ form_start(userForm) }}
            <div class="form-group">
                {{ form_label(userForm.username, null, {
                    'label_attr': {
                        'class': 'form-control-label'
                    }
                }) }}
                {{ form_widget(userForm.username, {
                    'attr': {
                        'class': 'form-control'
                    }
                }) }}
            </div>
            <div class="form-group">
                {{ form_label(userForm.firstName, null, {
                    'label_attr': {
                        'class': 'form-control-label'
                    }
                }) }}
                {{ form_widget(userForm.firstName, {
                    'attr': {
                        'class': 'form-control'
                    }
                }) }}
            </div>
            <div class="form-group">
                {{ form_label(userForm.lastName, null, {
                    'label_attr': {
                        'class': 'form-control-label'
                    }
                }) }}
                {{ form_widget(userForm.lastName, {
                    'attr': {
                        'class': 'form-control'
                    }
                }) }}
            </div>
            <div class="form-group">
                {{ form_label(userForm.password.first, null, {
                    'label_attr': {
                        'class': 'form-control-label'
                    }
                }) }}
                {{ form_widget(userForm.password.first, {
                    'attr': {
                        'class': 'form-control'
                    }
                }) }}
            </div>
            <div class="form-group">
                {{ form_label(userForm.password.second, null, {
                    'label_attr': {
                        'class': 'form-control-label'
                    }
                }) }}
                {{ form_widget(userForm.password.second, {
                    'attr': {
                        'class': 'form-control'
                    }
                }) }}
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Créer</button>
            </div>
        {{ form_end(userForm) }}
        </div>
    </div>
{% endblock %}
